*vscode*
**/*.code-workspace
.idea/
*.pyc
*.doc
*.docx
*.xls
*.png
*.pdf
*.emlk
*.emv
*.eml
*.emu
*.ema
*.emx
*.emp
*.ems
*.db
*.dat
*.prj
*.mtbx
*.mlbk
*.cpg
*.dbf
*.qpj
*.shp
*.shx
*.gfsum
*.old
*.log
*.log.*-*-*
usemacro_*
STRAT_*
config
Database/builddb
Database/core_interface_log
Database/errors
Database/fort.18
Database/emmebank
Database/reports
Database/usemacro_*
Database/STRAT_s21
Database/STRAT_s22
Database/STRAT_s23
EMME_macros_and_infiles/builddb
EMME_macros_and_infiles/core_interface_log
EMME_macros_and_infiles/errors
EMME_macros_and_infiles/fort.18
EMME_macros_and_infiles/emmebank
EMME_macros_and_infiles/reports
EMME_macros_and_infiles/usemacro_*
EMME_macros_and_infiles/STRAT_s21
EMME_macros_and_infiles/STRAT_s22
EMME_macros_and_infiles/STRAT_s23
Logbook/project.mlbk-shm
Logbook/project.mlbk-wal
Scenario_input_data/2016/*
Scenario_input_data/2030/*
Matrices/2016/*
Matrices/2030/*
Matrices/base/*
Scripts/.pytest_cache
Scripts/tests/.pytest_cache
Scripts/.env
Results/*

Scripts/tests/test_data/Results/test/*
!Scripts/tests/test_data/Results/test/Matrices
