*vscode*
*.pyc
*.doc
*.docx
*.xls
*.xlsx
*.txt
*.csv
*.png
*.pdf
*.emlk
*.emv
*.eml
*.emu
*.ema
*.emx
*.emp
*.ems
*.omx
*.db
*.dat
*.prj
*.mtbx
*.mlbk
*.cpg
*.dbf
*.qpj
*.shp
*.shx
*.gfsum
*.old
usemacro_*
STRAT_*
config
database/builddb
database/core_interface_log
database/errors
database/fort.18
database/emmebank
database/reports
database/usemacro_*
database/STRAT_s21
database/STRAT_s22
database/STRAT_s23
Logbook/project.mlbk-shm
Logbook/project.mlbk-wal
