*vscode*
**/*.code-workspace
.idea/
*.pyc
*.doc
*.docx
*.xls
*.png
*.pdf
*.emlk
*.emv
*.emt
*.emw
*.eml
*.emu
*.ema
*.emx
*.emp
*.ems
*.db
*.dat
*.prj
*.mtbx
*.mlbk
*.cpg
*.dbf
*.qpj
*.shp
*.shx
*.gfsum
*.old
*.log
*.log.*-*-*
usemacro_*
STRAT_*
config
/*.json
Network_builds/*
Worksheets/*
Media/*
Database/builddb
Database/core_interface_log
Database/errors
Database/fort.18
Database/emmebank
Database/sijopankki*/*
Database/verkot_*/*
Database/reports
Database/usemacro_*
Database/STRAT*/*
Database/emlocki
Database/aja_*.mac
Database/d2*.in
Logbook/project.mlbk-shm
Logbook/project.mlbk-wal
Matrices/2016/*
Matrices/2030/*
Matrices/base/*
Scripts/.pytest_cache
Scripts/tests/.pytest_cache
Scripts/.env
Scripts/tests/test_data/Results/test/*
!Scripts/tests/test_data/Results/test/Matrices
project.mtbx-shm
project.mtbx-wal
