[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "<2.0.0"
rope = "*"

[packages]
pandas = "==0.21.0"
openpyxl = "*"
openmatrix = "==0.3.3"
numpy = "==1.13.3"
numexpr = "==2.6.4"
tables = "==3.4.2"

[requires]
python_version = "2.7"
