[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
rope = "*"

[packages]
pandas = "==2.0.2"
openpyxl = "*"
openmatrix = "==0.3.5"
numpy = "==1.26.2"
numexpr = "==2.8.5"
tables = "==3.8.0"
shapely = "==2.0.1"

[requires]
python_version = "3.11"
